<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262446997989-rpcafrl14sb5hidd585kdgl93ia7bnp6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262446997989-rpcafrl14sb5hidd585kdgl93ia7bnp6</string>
	<key>API_KEY</key>
	<string>AIzaSyBzkRZhofH-y5o1vgD0GNKgEelFfVnmUYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>262446997989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.con</string>
	<key>PROJECT_ID</key>
	<string>conf-2561d</string>
	<key>STORAGE_BUCKET</key>
	<string>conf-2561d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262446997989:ios:0140b044cc4c5c9a6b0f0c</string>
</dict>
</plist>